<head>
	<link href="~/lyso/css/mostrar.css" rel="stylesheet" />
</head>

<!-- Page Title -->
<div class="page-title-area page-title-area-two title-img-one">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="page-title-text">
				<h2>Historial de documentos legales</h2>
				<ul>
					<li>
						<a asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li>
						<i class="icofont-simple-right"></i>
					</li>
					<li>Historial</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Page Title -->

<div class="formulario contact-form contact-form-two contact-form-three">
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>
					Fecha
				</th>
				<th>
					Tipo Documentto
				</th>
				<th>
					Cliente
				</th>
				<th>
					Abogado
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					2/2/22
				</td>
				<td>
					Traspaso de Vehículo
				</td>
				<td>
					Daniel Guerrero
				</td>
				<td>
					Lic Juan Juan
				</td>
						
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					2/2/22
				</td>
				<td>
					Traspaso de Vehículo
				</td>
				<td>
					Daniel Guerrero
				</td>
				<td>
					Lic Juan Juan
				</td>

				<td>
				</td>
			</tr>
			<tr>
				<td>
					2/2/22
				</td>
				<td>
					Traspaso de Vehículo
				</td>
				<td>
					Daniel Guerrero
				</td>
				<td>
					Lic Juan Juan
				</td>

				<td>
				</td>
			</tr>


		</tbody>
	</table>
</div>
</div>


