.mostrar {
    color: black
}

.contact-wrapDaniel {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-twoDaniel .contact-wrapDaniel {
    padding: 15px 5px;
}

.MarcoIdentiy {
    padding-left: 500px; 
    padding-right: 500px;
}

.LetraNegra {
    color:black;
}


/*Vista FormTesmonials*/
.clasificacion{
     direction: rtl;
  unicode-bidi: bidi-override;
}

.InputCalficacion {
    display: none;
}

.LabelCalificacion {
    color: grey;
    font-size: 40px;
}

.LabelCalificacion:hover,
.LabelCalificacion:hover ~ label {
        color: orange;
    }

.InputCalficacion[type="radio"]:checked ~ label {
    color: orange;
}
/*End Vista FormTesmonials*/
