.mostrar {
    color: black
}

.contact-wrapDaniel {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-twoDaniel .contact-wrapDaniel {
    padding: 15px 5px;
}

.MarcoIdentiy {
    padding-left: 500px; 
    padding-right: 500px;
}

.LetraNegra {
    color:black;
}
